@page
@model CustomerModel
@{
    ViewData["Title"] = "Customer page";
}

<h1>Customer Sign-In</h1>
<div class="container">
    <div class="col-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Customer.firstName" class="control-label"></label>
                <input asp-for="Customer.firstName" class="form-control" />
                <span asp-validation-for="Customer.firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.lastName" class="control-label"></label>
                <input asp-for="Customer.lastName" class="form-control" />
                <span asp-validation-for="Customer.lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.email" class="control-label"></label>
                <input asp-for="Customer.email" class="form-control" />
                <span asp-validation-for="Customer.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.phoneNum" class="control-label"></label>
                <input asp-for="Customer.phoneNum" class="form-control" />
                <span asp-validation-for="Customer.phoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.password" class="control-label"></label>
                <input asp-for="Customer.password" class="form-control" />
                <span asp-validation-for="Customer.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.address" class="control-label"></label>
                <input asp-for="Customer.address" class="form-control" />
                <span asp-validation-for="Customer.address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}