@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Grocery Delivery</h1>
    <a asp-page="/Customer">Customer Sign-In</a>
    </br>
    <a asp-page="/Driver">Driver Sign-In</a>
</div>
